# Virtualenv
venv/
.env

# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# IDE / OS-specific
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs and history
logs/
history/
*.log

# Dagster runtime & cache
dagster_home/
.telemetry/
.nux/
.etl_pipeline/
storage/
schedules/
dagster.yaml

# DBT
dbt/
dbt/profiles/.user.yml
dbt/dbt_packages/
dbt/target/

# Pytest / Mypy / coverage
.mypy_cache/
.pytest_cache/
coverage.xml
htmlcov/
.cache/

# Build artifacts
build/
dist/
*.egg-info/
*.db
*.sqlite